<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Cenit Hub</title>

  <%= render '_head' %>

</head>
<body class="index">

  <header id="header">
    <div id="top-header">
      <div class="container">
        <div class="row">
          <%= render '_main_menu_home' %>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>

    </section>
  </div>

  <%= render '_footer' %>
  </body>
</html>
