<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Spree Commerce</title>

  <%= render '_head' %>

</head>
<body class="integration home">

  <div class="container">
    <%= render 'integration/_sidebar' %>
    <section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </section>
    
  </div>

  <%= render '_footer' %>
  </body>
</html>
